.img_me {
  width: 50%;  /* Use uma medida relativa para definir o tamanho da imagem */
  height: 50%;
  display: inline-flex;
  align-items: center;
}

.auto_self {
  margin: 0 10%;  /* Use uma medida relativa para definir o tamanho da borda */
  border-radius: 300px;
  transition: all 480ms ease-in-out;
  box-shadow: 0px 0px 0px 3px #433388, 0px 0px 0px 6px #736db8, 0px 0px 0px 8px #7556a8, 0px 0px 0px 12px #dadaf8
}

.auto_self:hover {
  box-shadow: 0 0 20px 0 #8868C8, 0 0 10px 5px #8868C8;
}

.legend {
  margin: 50px 10%;  /* Use uma medida relativa para definir o espaçamento da legenda */
}

/* Adicione uma media query para alterar o tamanho da imagem em resoluções de tela menores */
@media screen and (max-width: 600px) {
  .img_me {
    width: 75%;  /* Aumente o tamanho da imagem em resoluções de tela menores */
    height: 75%;
  }
}
