.home {
    display: inline-flex;
    color: white;
    padding-top: 10%;
    justify-content: space-evenly;
    width: 100vw;
    height: 600px;



}


.home .image {
    background-size: 100px;
    height: 600px;
    width: 600px;

}

.home .article {

    
    width: 600px;
    height: 600px;

}

.article .firtboxtext {
    margin-top: 50px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 28px;

}



.buttontop {
    margin-top: 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 600px) {
    /* make the home section stack vertically on small screens */
    .home {
      flex-direction: column;
      display: block;
     
    }
    /* reduce the size of the images on small screens */
    .home .image {
     display: none;
    }
    .home .article {
        
      width: 300px;
      height: 300px;
    }

    .buttontop{
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }


  }
  